
.centered {
  text-align: center;
  max-width: 200px;
  background-color: #ccc;
  margin: 0 auto;
  border-radius: 30px;
}

.centered.male {
  background-color: skyblue;
}

.centered.female {
  background-color: pink;
}
