body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.is-invalid {
  background-color: red;
}

.mypopover {
  position: absolute;
  /*top: -200px;*/
  /*left: -200px;*/
  width: 200px;
  top: 0;
  right: 0;
  background-color: #e3e3e3;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  opacity: 1;
  box-shadow: 0 0 15px -10px rgba(0,0,0,0.2);
  transition: 0.4s opacity ease;
}

.dropdown.visible {
  opacity: 1;
}
